{
  "PORT": ${WEB_APP_PORT},
  "API_BASE": "${API_ADDRESS}/v1",
  "TITLE": "${RECODEX_TITLE}",
  "SKIN": "success",
  "URL_PATH_PREFIX": "",
  "PERSISTENT_TOKENS_KEY_PREFIX": "${TOKEN_COOKIE_PREFIX}",
  "ENVIRONMENTS_INFO_URL": "https://github.com/ReCodEx/wiki/wiki/Runtime-Environments",
  "ALLOW_LOCAL_REGISTRATION": ${LOCAL_REGISTRATION_ENABLED},
  "SHORT_SESSION": 15,
  "FAQ_URI": "https://raw.githubusercontent.com/wiki/ReCodEx/wiki/FAQ.md",
  "FAQ_FOR_ANON": false,
  "KNOWN_IPS": {}
}
